/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body Styles */
body {
    font-family: Lato;
    color: #777777;
}

/* Header Styles */
h1 {
    border: 1px solid black;
    background-color: red;
    color: black;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    border: 1px solid black;
    background-color: red;
    color: black;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Subheading Styles */
h3 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

/* Logo and Menu Styles */
#logo {
    font-size: 300%;
}

#menu {
    color: black;
    font-family: Oswald;
    font-size: 125%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo,
#menu {
    text-decoration: none;
    text-align: center;
    line-height: 75px;
}

#menu li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    text-align: left;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

/* Video Section Styles */

#video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    padding-bottom: 22.5%;
    height: 50%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Taekwondo benefits Section Styles */

#benefits {
    margin-bottom: 5%;
    height: 60%;
}

#left-about,
#right-about,
#center-about {
    width: 33%;
}

#left-about,
#right-about {
    padding-top: 2.5%;
    float: left;
}

#left-about {
    padding-left: 15%;
}

#right-about {
    float: right;
}

#center-about {
    margin: 0 auto;
}