/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body Styles */
body {
    font-family: Lato;
    color: #777777;
}

/* Header Styles */
h1 {
    border: 1px solid black;
    background-color: red;
    color: black;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    border: 1px solid black;
    background-color: red;
    color: black;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Subheading Styles */
h3 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

/* Logo and Menu Styles */
#logo {
    font-size: 400%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 550;
}

#menu {
    color: black;
    font-family: Oswald;
    font-size: 125%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo,
#menu {
    text-decoration: none;
    text-align: center;
    line-height: 75px;
}

#menu li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    text-align: left;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

/* Video Section Styles */

#video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    padding-bottom: 22.5%;
    height: 50%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Taekwondo benefits Section Styles */

#benefits {
    margin-bottom: 5%;
    height: 60%;
}

#left-benefits,
#right-benefits,
#center-benefits {
    width: 33%;
}

#left-benefits,
#right-benefits {
    padding-top: 2.5%;
    float: left;
}

#left-benefits {
    padding-left: 15%;
}

#right-benefits {
    float: right;
}

#center-benefits {
    margin: 0 auto;
}

/* Horizontal Line Styles */
hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 0.5% 0;
}

/* Left and Right benefits Heading Styles */
.left-benefits-heading,
.right-benefits-heading {
    width: 50%;
    line-height: 20px;
    clear: both;
    margin-bottom: 5%;
}

.right-benefits-heading h3 {
    text-align: right;
}

.fa-heartbeat,
.fa-fly,
.fa-globe,
.fa-dumbbell {
    color: black;
}

/* Taekwondo and Circle Styles */

#taekwondo-benefits {
    margin-top: 1.5%;
    margin-bottom: 4.5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 250%;
    font-weight: 500;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 5%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
    padding-bottom: 5%;

}

#circle-cover-bg {
    background: url('../images/taekwondo_training.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}

/* Tenants Section Styles */
#tenants {
    margin-bottom: 0;
    height: 60%;
}

#left-tenants,
#right-tenants,
#center-tenant {
    width: 33%;
}

#left-tenants,
#right-tenants {
    padding-top: 2.5%;
    float: left;
}

#left-tenants {
    padding-left: 15%;
}

#right-tenants {
    float: right;
}

#center-tenant {
    margin: 0 auto;
}

/* Left and Right Tenant Heading Styles */

.left-tenants-heading,
.right-tenants-heading {
    width: 50%;
    line-height: 20px;
    clear: both;
    margin-bottom: 5%;
}

.right-tenants-heading h3 {
    text-align: right;
}

.fa-heartbeat,
.fa-fly,
.fa-globe,
.fa-dumbbell {
    color: black;
}

/* Taekwondo tenants and Circle Styles */
#taekwondo-tenants {
    margin-top: 1.5%;
    margin-bottom: 2.5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 250%;
    font-weight: 500;
}

#circle-container-tenants {
    width: 300px;
    height: 300px;
    padding: 5%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
    padding-bottom: 5%;

}

#circle-cover-bp {
    background: url('../images/image-asset.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}

/* Image Container Styles*/
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    height: auto;
    width: 35%;
}

/* About the club styles */

#about {
    line-height: 75px;
    margin-top: 2.5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 250%;
    font-weight: 500;
}

.about-the-club {
    text-align: center;
    padding-top: .25%;
    padding-bottom: 1.5%;
}

.about-text {
    color: black;
    font-weight: 100;
    font-family: Oswald;
    font-size: 150%;
    margin-top: 2.5%;
    margin-bottom: .5%;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20%;
    margin-left: 20%;
}

ol {
    padding-top: 1%;
    list-style-type: none; 
    text-align: center; 
    width: 50%; 
    margin: auto;
    text-align: left;
    font-size: 150%;
    color: black;
    font-weight: 600;
    margin-bottom: 2.5%;
}

ol li {
    margin-bottom: 5px; 
    text-align: center; 
    margin-bottom: 10px;
}

ol li::before {
    content: '\2022'; 
    color: black; 
    font-size: 1em;
    margin-right: 0.5em;
}

/* Class Times styles */

#times {
    line-height: 75px;
    margin-top: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 250%;
    font-weight: 500;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1%;
}

th {
    background-color: lightgray;
    color: black;
    font-size: 200%;
    padding-right: 4%;
}

td {
    padding-right: 4%;
    color: black;
}

/* Location styles */

#location iframe {
    width: 100%;
    height: auto;
}

/* Form Styles */

#form {
    padding-top: 2.8%;
    padding-bottom: 2.8%;
}

.form-container {
    max-width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px black solid;
}

.form-container h2 {
    margin-bottom: 2%;
    font-size: 200%;
    border: 1px solid black;
    background-color: red;
    color: black;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 600;
}

.form-container label {
    text-transform: capitalize;
    text-decoration: underline solid;
    display: block;
    margin-bottom: 8px;
}

.form-container select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container textarea {
    resize: vertical;
    height: 300px;
}

.form-container button {
    background-color: black;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.form-container button:hover {
    background-color: red;
}


/* Footer Styles */

footer {
    background-color: black;
    margin-top: 2.5%;
}

footer .footer-bottom {
    width: 100%;
    background-color: black;
}

footer .social-links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

footer .social-links .fa-solid.fa-circle.fa-stack-1x::before {
    border-radius: 50%;
}

footer .social-links .social-link {
    text-align: center;
}

#footer-2 {
    background-color: black;
    margin-top: 0;
}

#footer-2 .footer-bottom {
    width: 100%;
    background-color: black;
}

#footer-2 .social-links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#footer-2 .social-links .fa-solid.fa-circle.fa-stack-1x::before {
    border-radius: 50%;
}

#footer-2 .social-links .social-link {
    text-align: center;
}

/* Social Links Styles */

.social-links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.social-links .fa-solid.fa-circle.fa-stack-1x {
    filter: var(--filter-drop-shadow);
}

.social-links .fa-solid.fa-circle.fa-stack-1x::before {
    border-radius: 50%;
}

.fa-heartbeat,
.fa-fly,
.fa-globe,
.fa-dumbbell {
    color: black;
}

/* copyright Styles */
.copyright {
    text-decoration: none;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: black;
}

@media screen and (max-width: 1396px) {

    #benefits {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
        padding-top: 5%;

    }

    #taekwondo-benefits {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-benefits,
    #right-benefits {
        width: 120%;
        float: left;
        padding: 0;
        padding-left: 20%;
        text-align: center;
    }

    #taekwondo-tenants {
        padding: 30px 0;
        margin-top: 0;
    }

    #tenants {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #left-tenants,
    #right-tenants {
        width: 120%;
        float: left;
        padding: 0;
        padding-left: 20%;
        text-align: center;
    }

    #center-benefits,
    #center-tenant {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    .right-benefits-heading h3 {
        text-align: center;
    }

    .right-tenants-heading h3 {
        text-align: center;
    }

    #about-club {
        width: 90%;
        margin: 0 auto;
    }

    #class-times {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 5%;
    }

    .about-text {
        font-size: 120%;
        margin-right: 0%;
    margin-left: 0%;
    }

    ol {
        font-size: 100%;

    }

    footer {
        margin-top: 0;
    }

    #footer-2 {
        margin-top: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 943px) {

    #video {
        width: 100%;
        height: auto;
    }

    #menu {
        clear: left;
        float: none;
        margin-left: 0;
        margin-bottom: 20px;
        line-height: 25px;
        text-align: center;
    }

    #menu li {
        display: inline-block;
        margin: 10px 0;
    }

    #cover-text {
        left: 0px;
    }

    #benefits {
        width: 90%;
        height: 1050px;
        margin: 0 auto;
    }

    #taekwondo-benefits {
        margin-bottom: 5%;
    }

    .left-benefits-heading,
    .right-benefits-heading {
        width: inherit;
    }

    .left-benefits-heading h3,
    .right-benefits-heading h3 {
        width: 100%;
        text-align: center;
    }

    .left-benefits-heading p,
    .right-benefits-heading p {
        text-align: center;
        padding: 0 20px 0 20px;
    }

    #tenants {
        width: 90%;
        height: 1025px;
        margin: 0 auto;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    #taekwondo-tenants {
        margin-bottom: 5%;
    }

    .left-tenants-heading,
    .right-tenants-heading {
        width: inherit;
    }

    .left-tenants-heading h3,
    .right-tenants-heading h3 {
        width: 100%;
        text-align: center;
    }

    .left-tenants-heading p,
    .right-tenants-heading p {
        text-align: center;
        padding: 0 20px 0 20px;
    }

    #left-benefits,
    #right-benefits {
        width: 100%;
        float: left;
        padding: 0;
        padding-left: 0;
    }

    #left-tenants,
    #right-tenants {
        width: 100%;
        float: left;
        padding: 0;
        padding-left: 0;
    }

    .image-container img {
        height: auto;
        width: 60%;
    }

    #about-club {
        width: 90%;
        margin: 0 auto;
    }

    .about-text {
        padding-top: 2.5%;
        padding-bottom: 1.5%;
    }
}

@media screen and (max-width: 767px) {

    #logo {
        font-size: 300%;
        font-weight: 900;
    }

    #taekwondo-benefits {
        font-size: 175%;
        font-weight: 600;
    }

    #taekwondo-tenants {
        font-size: 175%;
        font-weight: 600;
    }

    #benefits {
        padding-bottom: 0;
    }

    #about {
        font-size: 175%;
        font-weight: 600;
    }

    .about-text {
        font-size: 90%;
        font-weight: 600
    }

    ol {
        font-size: 90%;
        font-weight: 600;
    }

    #times {
        font-size: 175%;
        font-weight: 600;
    }

    th {
        font-size: 175%;
        font-weight: 600;
    }

    .form-container h2 {
        font-size: 175%;
        font-weight: 600;
    }

    .footer-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .social-links {
        display: inline-block;
        margin-top: 10px;
        grid-gap: 10px;
        text-align: center;
    }

    .social-link {
        display: inline-block;
    }

    .contact {
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 563px) {
   
    .video-container {
        position: relative;
        overflow: hidden;
        width: 75%;
        padding-top: 56.25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #logo {
        font-size: 200%;
    }

    #taekwondo-benefits {
        font-size: 150%;
    }

    #taekwondo-tenants {
        font-size: 150%;
    }

    #about {
        font-size: 150%;
    }

    .about-text {
        font-size: 70%;
    }

    ol {
        font-size: 70%;
    }

    #times {
        font-size: 150%;
    }

    th {
        font-size: 160%;
    }

    .form-container h2 {
        font-size: 150%;
    }
}

@media screen and (max-width: 400px) {
    
    #logo {
        font-size: 150%;
    }

    #taekwondo-benefits {
        font-size: 100%;
    }

    #taekwondo-tenants {
        font-size: 100%;
    }

    #circle-container {
        height: 200px;
        width: 200px;
    }

    #about {
        font-size: 100%;
    }

    #times {
        font-size: 100%;
    }

    th {
        font-size: 100%;
    }

    .form-container h2 {
        font-size: 100%;
    }

    .footer-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .social-links {
        display: inline-block;
        margin-top: 10px;
        grid-gap: 10px;
        text-align: center;
    }

    .social-link {
        display: inline-block;
    }

    .contact {
        margin-top: 10px;
        text-align: center;
    }
}
